 {% load staticfiles %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Henry | Django Belt Exam</title>

 	<!-- FONTAWESOME -->
 	<script src="https://use.fontawesome.com/41aef5863b.js"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
 	<!-- MAIN CSS -->
 	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">

 </head>
 <body>
	
	<!-- ::MAIN CONTAINER
	======================================== -->
	<div class="main-container">
		
		<div class="container">

			<!-- ::EMAIL VALIDATION
			======================================== -->
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<!-- <h1 class="panel-tittle">Django Belt Test</h1> -->
							<!-- <a href="/login/logout" name="home" type="submit" class="home_btn pull-right btn btn-sm btn-default" value="Home"><i class="fa fa-home" aria-hidden="true"></i></a> -->
						</div><!-- //panel-heading -->
						<div class="panel-body">
							<div class="center-me" id="labelHelper">
								<h2>Welcome!</h2>
								<div class="row">
								<div class="col-md-6">

									<!-- ::REGISTRATION FORM
									======================================== -->
									<form class="left_form" action="/login/register" method="POST">
									<h3 class="title1">Register</h3>
										{% csrf_token %}
										<div class="form-group">
											{% if messages %}
												    {% for message in messages %}
													    {% if 'full_name' in message.tags %}
															<p class="error_message"><span>{{ message }}</span></p>
													    {% endif %}
												    {% endfor %}
											{% endif %}
											<label for="full_name">Full Name</label>
											<input name="full_name" type="text" class="form-control" id="full_name" placeholder="Full Name">
										</div>
										<div class="form-group">
											{% if messages %}
												    {% for error in messages %}
													    {% if 'email' in error.tags %}
															<p class="error_message"><span>{{ error }}</span></p>
													    {% endif %}
												    {% endfor %}
											{% endif %}
											<label for="email">Username</label>
											<input name="email" type="email" class="form-control" id="email" placeholder="email@example.com">
										</div>
										<div class="form-group">
											{% if messages %}
												    {% for error in messages %}
													    {% if 'password' in error.tags %}
															<p class="error_message"><span>{{ error }}</span></p>
													    {% endif %}
												    {% endfor %}
											{% endif %}
											<label for="password">Password <small>should be at least 8 characters</small></label>
											<input name="password" type="password" class="form-control" id="password" placeholder="Password">
										</div>
										<div class="form-group">
											<label for="password">Confirm Password</label>
											<input name="password_confirm" type="password" class="form-control" id="password" placeholder="Confirm Password">
										</div>
										<div class="form-group">
											{% if messages %}
												    {% for error in messages %}
													    {% if 'datehired' in error.tags %}
															<p class="error_message"><span>{{ error }}</span></p>
													    {% endif %}
												    {% endfor %}
											{% endif %}
											<label for="datehired">Date Hired</label>
											<input name="datehired" type="date" class="form-control" id="datehired" value="datehired" placeholder="Date Hired">
										</div>
										<button type="submit" class="btn btn-primary" value="Register">Register</button>
									</form>
								</div><!-- //col-md-6 -->
								<div class="col-md-6"><!-- col-md-offset-1 -->

									<!-- ::LOGIN FORM
									======================================== -->
									<form class="right_form" action="/login/login" method="POST">
									<h3 class="title2">Login</h3>
										{% csrf_token %}
										<div class="form-group">
											{% if messages %}
												    {% for error in messages %}
													    {% if 'logemail' in error.tags %}
															<p class="error_message"><span>{{ error }}</span></p>
													    {% endif %}
												    {% endfor %}
											{% endif %}
											<label for="email">Username</label>
											<input name="email" type="email" class="form-control" id="email" placeholder="email@example.com">
										</div>
										<div class="form-group">
											{% if messages %}
												    {% for error in messages %}
													    {% if 'logpassword' in error.tags %}
															<p class="error_message"><span>{{ error }}</span></p>
													    {% endif %}
												    {% endfor %}
											{% endif %}
											<label for="password">Password</label>
											<input name="password" type="password" class="form-control" id="password" placeholder="Password">
										</div>
										<button type="submit" class="btn btn-primary btn-md pull-right" value="Login">Login</button>
									</form>
								</div><!-- //col-md-5 col-md-offset-1 -->
								</div><!-- //row -->
							</div><!-- //center-me #labelHelper -->
							<h6>{{DateTime}}</h6>
							<h4>Author: {{AuthorName}}</h4>
						</div><!-- //panel-body -->
					</div><!-- //panel -->
				</div><!-- //col-md-6 -->
			</div><!-- //row -->
		</div><!-- //container -->
	</div><!-- //main-container -->

	<!-- jQUERY FILE-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<!-- MAIN JAVASCRIPT -->
 	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

 </body>
 </html>